* {
  margin: 0;
  border: 0;
  font-family: Helvetica, Bebas, Arial, sans-serif;
}
@font-face {
  font-family: Bebas;
  src: url(./Assets/Fonts/Bebas-Regular.otf);
}

/* Header section styles */
header {
  /* border: 1px solid rgb(255, 255, 255); */
  position: absolute;
  top: 1.5rem;
}
.selector {
  padding: 0.3rem 1rem;
  border: white 1px solid;
  margin-right: 1rem;
  background-color: rgba(33, 33, 33, 0.942);
}
.head-select {
  background-color: rgba(33, 33, 33, 0.942);
  text-align: center;
  font-size: 0.9rem;
}
.signin {
  padding: 0.3rem 0.4rem;
  font-size: 0.9rem;
}
.Hero {
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./Assets/Hero/Background.jpg);
  background-size: contain;
  height: 100dvh;
  color: white;
}
.Hero h1 {
  font-size: 3rem;
  font-weight: 600;
  max-width: 500px;
}
